:root {
  --black: #000;
  --white: #fff;
  --lightgray: #afafaf;
  --gray: rgb(238, 235, 235);
  --darkGray: #555555;
  --primary2: #f1d014;
  --primary: #39a6a3;
}
* {
  box-sizing: border-box;
  position: relative;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
  font-family: Roboto, sans-serif;
}

/*Nav bar */
.nav-bar-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 100%;
  height: 45px;
  padding-top: 10px;
  border-bottom: 1px solid var(--white);
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
}
.nav-bar-container .logo img{
  width:30px;
  margin-left: 10px;
}


.nav-bar-container a {
  text-decoration: none;
  padding: 4px;
  padding-right: 6px;

  color: var(--white);
  font-size: 0.8rem;
}
.nav-bar-container span {
  font-size: 0.8rem;
  color: var(--primary);
  font-weight: 500;
}
.nav-bar-container a:hover {
  font-size: 1rem;
  color: var(--primary);
}

.nav-bar-container input {
  width: 50px;
  height: 20px;
}
.nav-bar-container button {
  background: none;
  border: none;
  color: var(--white);
}
/* About*/

.about {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.left {
  margin: 0 auto;
  align-items: center;
  width: 280px;
}
.about .left .title {
  font-size: 1.5rem;
  color: var(--primary);
  font-weight: 500;
  text-align: center;
}
.about .left .text {
  font-size: 1rem;
  color: var(--black);
  font-weight: 300;
  text-align: justify;
  margin-top: 30px;
  margin-bottom: 20px;
}
.right {
  margin: 0 auto;
  align-items: center;
  width: 290px;
  margin-bottom: 50px;
}
.about .right img {
  width: 100%;
  border: solid var(--gray);
  margin-bottom: 10px;
}
/* PVP*/
.pvp {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--gray);
  padding: 5px 40px 20px 40px;
}
.pvp .title {
  font-size: 1.25rem;
  color: var(--black);
  font-weight: 500;
}
.pvp p {
  font-size: 1rem;
  color: var(--black);
  font-weight: 300;
  text-align: justify;
  margin-bottom: 20px;
}

/* Footer*/
.footer {
  border-top: 1px solid var(--gray);
}
.semi-Footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Alkayan-section,
.contact-section,
.links-section,
.follow-section {
  margin: 0 auto;
  width: 250px;
}
.Alkayan-section h2,
.contact-section h2,
.links-section h2,
.follow-section h2 {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--primary);
}
.Alkayan-section p,
.contact-section p {
  font-size: 0.85rem;
  font-weight: 300;
  color: var(--black);
  text-align: justify;
}
.contact-section span {
  color: var(--lightgray);
}

.links-section a {
  text-decoration: none;
  color: var(--black);
  font-weight: 300;
  font-size: 0.85rem;
  line-height: 1.9;
}
.follow-section .social span {
  font-size: 2rem;
  padding-right: 12px;
  color: var(--black);
}

.footer-title {
  padding: 20px;
  text-align: center;
}
.footer span {
  color: var(--darkGray);
  font-weight: 300;
  font-size: 15px;
  text-align: center;
}
.footer a {
  color: var(--darkGray);
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
}

/* Responsive */

@media (min-width: 1000px) {
  /* Nav bar */
  .nav-bar-container {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  .nav-bar-container .logo img{
    width:50px;
    margin-left: 20px;
  }
  
  .nav-bar-container a {
    padding: 10px;
    padding-right: 30px;
    font-size: 1.25rem;
    margin-left: 40px;
  }
  .nav-bar-container span {
    font-size: 1.25rem;
    font-weight: 600;
    margin-left: 30px;
  }

  .nav-bar-container a:hover {
    font-size: 1.5rem;
  }

  .nav-bar-container input {
    width: 100px;
  }

  /* About*/
  .about {
    flex-direction: row;
    justify-content: space-between;
    margin: 50px;
  }

  .left {
    width: 450px;
  }
  .about .left .title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .about .left .text {
    font-size: 1.2rem;
    font-weight: 400px;
  }
  .right {
    margin-top: 80px;
    width: 450px;
    margin-bottom: 30px;
  }
  .right img {
    height: 300px;
  }
  /* PVP*/
  .pvp {
    flex-direction: row;
    justify-content: space-between;
  }
  .pvp .title {
    font-size: 1.5rem;
    margin: 50px 70px 20px 70px;
  }
  .pvp .text {
    margin: 0 70px 50px 70px;
  }
  .pvp p {
    font-size: 1.2rem;
    font-weight: 400px;
  }

  /* Footer*/
  .semi-Footer {
    flex-direction: row;
    margin: 0 0 30px 30px;
  }
  .Alkayan-section,
  .contact-section,
  .links-section,
  .follow-section {
    margin: 0 auto;
    width: 280px;
    margin-top: 30px;
  }
  .Alkayan-section h2,
  .contact-section h2,
  .links-section h2,
  .follow-section h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .Alkayan-section p,
  .contact-section p {
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    margin-right: 20px;
  }
  .contact-section span {
    font-size: 1rem;
    font-weight: 400;
  }

  .links-section a {
    font-weight: 400;
    font-size: 1rem;
  }

  .footer span {
    font-size: 1.25rem;
  }
  .footer a {
    font-size: 1.25rem;
  }
}
